In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
import matplotlib.pyplot as plt

In [2]:
rf_model = RandomForestClassifier(n_estimators=500, max_depth=25, max_features='auto', bootstrap=False,class_weight='balanced_subsample')

In [3]:
data = pd.read_csv('2021_dummie.csv', encoding='ms949')
x = data[['HorseNum', 'Age', 'Weight', 'HorseWeight', 'Top1Win', 'Top2Win', 'Distance', 'S1F', 'Cornor3', 'G3F', 'Cornor4',
                     'HorseWin','HorseRankInTop2', 'HorseRankInTop3', 'Cutted','Male','Female', 'Good','Rain','Fog']]
y = data[["HorseWin", "HorseRankInTop2", "HorseRankInTop3"]]

In [4]:
X_train, X_test, y_train, y_test= train_test_split(x, y, test_size=0.2)

In [5]:
rf_model.fit(X_train,y_train['HorseWin'])
rf_Win = rf_model.predict(X_test)
rf_model.fit(X_train,y_train['HorseRankInTop2'])
rf_Top2 = rf_model.predict(X_test)
rf_model.fit(X_train,y_train['HorseRankInTop3'])
rf_Top3 = rf_model.predict(X_test)

In [6]:
d = pd.DataFrame()
# d['HorseName'] = X_test['HorseName']
d['HorseWin'] = rf_Win
d['HorseRankInTop2'] = rf_Top2
d['HorseRankInTop3'] = rf_Top3

In [7]:
temp = []
for i in X_test['Age']:
    temp.append(i)
d['Age'] = temp
d.head()

   HorseWin  HorseRankInTop2  HorseRankInTop3  Age
0         0                0                0    2
1         0                0                0    4
2         0                0                0    3
3         0                1                1    3
4         1                1                1    3

In [8]:
temp = []
for i in X_test['Cutted']:
    temp.append(i)
d['Cutted'] = temp
d.head()

   HorseWin  HorseRankInTop2  HorseRankInTop3  Age  Cutted
0         0                0                0    2       0
1         0                0                0    4       1
2         0                0                0    3       0
3         0                1                1    3       0
4         1                1                1    3       0

In [9]:
temp = []
for i in X_test['Male']:
    temp.append(i)
d['Male'] = temp
d.head()

   HorseWin  HorseRankInTop2  HorseRankInTop3  Age  Cutted  Male
0         0                0                0    2       0     0
1         0                0                0    4       1     0
2         0                0                0    3       0     0
3         0                1                1    3       0     0
4         1                1                1    3       0     1

In [10]:
temp = []
for i in X_test['Female']:
    temp.append(i)
d['Female'] = temp
d.head()

   HorseWin  HorseRankInTop2  HorseRankInTop3  Age  Cutted  Male  Female
0         0                0                0    2       0     0       1
1         0                0                0    4       1     0       0
2         0                0                0    3       0     0       1
3         0                1                1    3       0     0       1
4         1                1                1    3       0     1       0

In [11]:
d.to_csv('rf_predictions.csv', encoding='utf-8-sig')

In [14]:
Temp = list(d.loc[0])
Temp

1662